<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentalhousing.mapper.LandlordMapper">

    <select id="selectById" resultType="com.rentalhousing.pojo.Landlord">
        select * from landlord where landlord_id = #{landlord_id};
    </select>
</mapper>