<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentalhousing.mapper.LandlordMapper">

    <select id="selectById" resultType="com.rentalhousing.po.Landlord">
        select * from landlord where landlord_id = #{landlord_id};
    </select>

    <insert id="registLandlord" parameterType="com.rentalhousing.po.Landlord">
        insert into landlord(landlord_phone,landlord_password,landlord_time,landlord_mail) VALUES (#{landlord_phone},#{landlord_password},#{landlord_time},#{landlord_mail});
    </insert>

    <select id="isRegist" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from landlord where landlord_phone = #{landlord_phone};
    </select>

    <select id="loginLandlord" parameterType="com.rentalhousing.po.Landlord" resultType="com.rentalhousing.po.Landlord">
      SELECT * from landlord where landlord_phone = #{landlord_phone} and landlord_password=#{landlord_password};
    </select>

    <update id="updateLandlord" parameterType="com.rentalhousing.po.Landlord">
        UPDATE landlord
        <set>
            <if test="landlord_nickname != null">
                landlord_nickname=#{landlord_nickname},
            </if>
            <if test="landlord_realname != null">
                landlord_realname=#{landlord_realname},
            </if>
            <if test="landlord_IDnumber != null">
                landlord_IDnumber=#{landlord_IDnumber},
            </if>
            <if test="landlord_contact != null">
                landlord_contact=#{landlord_contact},
            </if>
            <if test="landlord_pic != null">
                landlord_pic=#{landlord_pic},
            </if>
            <if test="landlord_sex != null">
                landlord_sex=#{landlord_sex},
            </if>
            <if test="landlord_password != null">
                landlord_password=#{landlord_password},
            </if>
            <if test="landlord_mail != null">
                landlord_mail=#{landlord_mail},
            </if>
        </set>
        where landlord_id = #{landlord_id};
    </update>
</mapper>